# --- MQTT Configuration ---
MQTT_HOST=mosquitto
MQTT_PORT=1883

# --- InfluxDB Configuration ---
# These values are pre-configured for the local Docker setup
INFLUX_HOST=influxdb
INFLUX_PORT=8086
INFLUX_ORG=healthcare
INFLUX_BUCKET=sensors
INFLUX_USERNAME=admin
INFLUX_PASSWORD=adminpassword123

# This example token is valid only for the local test setup.
INFLUX_TOKEN=glZuiDJXXtisHwKJ0_vwAO-zehYQDWxKroWljgMWDmNxpSM3nfqZjpveqXdZTuF1ZuFl9KzJW5C0Yq1v4PSw5g==

# --- Service Ports ---
GRAFANA_PORT=3000
FASTAPI_PORT=8000